ul {
  margin: 0 auto;
  text-align: center;
}

li {
  display: inline-block;
  vertical-align: top;
}

.footer {
  width: 100%;
position: fixed;
bottom: 0;
margin-left: auto;
}

img :hover {
  filter: blur(4px);
}